<h3>Add Task</h3>
<form method="POST" action="/task/add">
    <label>Add Task</label>
    <input type="text" name="task" placeholder="Add task" />
    <input type="submit"  value="submit" />
</form>

<%= title %>
<form method="POST" action="/task/delete">
    <ul>
        <% tasks.forEach((task) => { %>
            <li>
                <label>
                    <input type="checkbox" name="tasks" class="del" value="<%= task %>" />
                    <span><%= task %></span>
                </label>
            </li>
        <% }) %>
    </ul>
    <input type="submit" value="Remove" />
</form>